# Archivos de compilación y VS
bin/
obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Paquetes NuGet
packages/
*.nupkg
project.lock.json

# Archivos de configuración locales
*.config.user
*.Publish.xml
*.secret.json

# Bases de datos locales y backups
*.mdf
*.ldf
*.bak

# Archivos subidos por usuarios
Sistema-Gestion-MEP/App_Data/templates/
Sistema-Gestion-MEP/App_Data/uploads/
Sistema-Gestion-MEP/App_Data/logs/

# Archivos temporales
*.tmp
*.log
Thumbs.db
Desktop.ini